*{
    box-sizing: border-box;
}
body{
    font-family:'montserrat',sans-serif;
   margin: 0;
    
}
#product-overview{
    background:#ff1b68;
    width:100%;
    height:528px;
    padding:10px;
    box-sizing:border-box;
   
}
 
   
#product-overview h1{
    color:white;
     font-family:'Anton', sans-serif;
}
.title-plans{
    color:green;
    
}
/**h1{
    font-family: sans-serif;
}*/
.main-header{
width:100%;
background:#2ddf5c;
padding:8px 16px;

}
.main-nav__item a:hover{                            
    color:white;
}
.main-header > div {
display: inline-block;
Vertical-align: middle;
}
.main-nav__item{
    display:inline-block;
    margin: 0px 10px;
    
}
.main-nav__item a{
    text-decoration: none;
    color:purple;
}
.main-nav__item a ::after{
    color:white;
}


.main-nav{
    display: inline-block;
    text-align:right;
    width: calc(100% - 74px);
    vertical-align: middle;
    
    
}
p::first-letter{
color:red;
}

.main-header__brand{
    color:blue;
    text-decoration:none;
    font-weight: bold;
    font-size: 22px;

}
.main-nav__items{
    margin:0;
    padding:0;
    list-style: none;
}